# IIE, 2026
node_modules/
.env
cert/server.key
cert/server.crt

#Reference List
#The Independent Institute of Education (IIE), 2026. Information Systems 3D [INSY7314 Module Manual]. The Independent Institute of 
#Education: Unpublished. 